@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');
    /* CSS for styling */
    
    .container-1 {
        max-width: 825px; /* Adjust the maximum width as needed */
        margin: 0 auto 0 3%;
        padding: 50px 0 0 0;
        font-family: 'Raleway', sans-serif; /* Replace 'Your_Custom_Font' with your preferred font */
        font-size: 18px;
    }
    .text {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .text-header {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
    }

    h {
        font-weight: bold; /* Make headers bold */
        font-size: 40px; /* Adjust the font size as needed */
    }
    .aboutus {
        /* font-family: 'Roboto', sans-serif;
        font-weight: 700; */
        text-align: left;
        margin: 0 auto 0 5%;
    }
