/* Style for the big rectangle container */
.big-rectangle {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
    /* //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  .big-rectangle span{
    color: #ffffff
  }
  /* Style for the individual name elements */
  .name {
    font-family: 'YourFancyFont', cursive; /* Replace 'YourFancyFont' with the actual font name */
    font-size: 18px;
    padding: 5px;
    background-color: #2563eb;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  
  /* Add hover effect for name elements (optional) */
  .name:hover {
    transform: scale(1.1);
  }
  
  /* Media query for responsiveness (optional) */
  @media (max-width: 768px) {
    .big-rectangle {
      font-size: 16px;
    }
  }
  